{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible  fade show" role="alert">
                    {{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table cellspacing="5">
        <thead cellspacing="5">
            <tr>
                <th padding="5"> ID </th>
                <th padding="5"> login_name </th>
                <th > name </th>
                <th> password </th>
                <th> phone_number </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <form action="#" method="post">
                {% for admin_line in dataset %}
                <tr>
                    <td>{{admin_line['ID']}}</td>
                    <td>{{admin_line['login_name']}}</td>
                    <td>{{admin_line['name']}}</td>
                    <td>****</td>
                    <td>{{admin_line['phone_number']}}</td>
                    <td></td> <!--<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" name="delete_{{admin_line['ID']}}" >delete</a></td>-->
                </tr>
                {% endfor %}
                <tr>
                        <td></td>
                        <td><input type="text" name="admin_name" value="admin username"/></td>
                        <td><input type="text" name="real_name" value="real name"/></td>
                        <td><input type="password" name="admin_pass" /></td>
                        <td><input type="text" name="phone_number" value="phone number"/></td>
                        <td><input type="submit" value="add admin" /></td>
                </tr>
            </form>
        </tbody>
    </table>

{% endblock %}