{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible  fade show" role="alert">
                    {{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h3>Welcome, {{admin_name}}</h3>
<p>If you are not {{admin_name}}, please log out and use your own credentials.</p>
{% endblock %}