{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <p>Name: </p>
    <p><input type="text" name="admin_name" /></p>
    <p><input type="password" name="admin_pass" /></p>
    <p><input type="submit" value="submit" /></p>
</form>
{% endblock %}
