{% extends "base.html" %}
{% block title %}Sensors{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    td,th {padding: .5em 1em;}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>sensor number</th>
                <th>address</th>
                <th>max temperature</th>
                <th>new max temperature</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
        <!--"ID": ID, "sensor_number": sensor_number, "address": address, "max_temperature": max_temperature#-->

            {% for sensor_line in dataset %}
                <tr>
                    <td>{{sensor_line['ID']}}</td>
                    <td>{{sensor_line['sensor_number']}}</td>
                    <td>{{sensor_line['address']}}</td>
                    <td>{{sensor_line['max_temperature']}}</td>
                    <form action="#" method="post">
                        <td><input type="text" name="{{sensor_line['ID']}}" text="{{sensor_line['max_temperature']}}" />                                </td>
                        <td><input type="submit" value="update" /></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}